%p.fields
  %h3 Personal Description
%p.user_info
  %ul
    %li= current_user.full_name
    %li= current_user.email
    %li.link= link_to "Edit Account Settings", edit_user_registration_path(current_user)
%p.fields
  = f.label       "Bio:"
  = f.text_area   :about_me
%p.fields
  %h3 Birthday
  = f.date_select  :birthday
%p.fields
  %h3 Location
  = f.fields_for :locations do |loc|
    = render 'location', :f => loc
%p.fields
  %h3 Websites
  = f.fields_for :websites do |website|
    = render 'website', :f => website
