#user_photo
#user_name= @profile.user_name
#user_status
  .profile_title status: #{@profile.status}
#about_me
  = @profile.about_me
#profile_table
  %table
    %tr
      %td.profile_title birthday:
      %td= @profile.birthday
    - @profile.locations.each do |loc|
      %tr
        %td.profile_title location:
        %td= loc.city
        %td= loc.state
        %td= loc.country
    - @profile.websites.each do |web|
      %tr
        %td.profile_title websites:
        %td= web.url
  %br

