= form_for @profile do |f|
  = render 'shared/error_messages', :object => f.object
  %h2= "ffflourish.stats | #{current_user.first_name}"
  = render 'base_stats', :f => f
  .actions
    = f.submit 'Save'
