#signin_errors= devise_error_messages!
#signup_form
  .page_title Sign up to ffflourish!
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
    /= devise_error_messages!
    %p.field
      = f.label "http://www.ffflourish.com/\__", :class => "reg_label"
      = f.text_field :urlname, :class => "reg_field"
      %br
      %p.field Choose a unique url name between 5 and 20 characters.
    %p.field
      = f.label :name, :class => "reg_label"
      /= mark_required(@user, :name)
      = f.text_field :name, :class => "reg_field"
      %br
    %p.field
      = f.label :email, :class => "reg_label"
      /= mark_required(@user, :email)
      = f.text_field :email, :class => "reg_field"
      %br
    %p.field
      = f.label :email_confirmation, :class => "reg_label"
      /= mark_required(@user, :email)
      = f.text_field :email_confirmation, :class => "reg_field"
      %br
    %p.field
      = f.label :password, :class => "reg_label"
      /= mark_required(@user, :password)
      = f.password_field :password, :class => "reg_field"
      %br
    %p.field
      = f.label :password_confirmation, :class => "reg_label"
      /= mark_required(@user, :password)
      = f.password_field :password_confirmation, :class => "reg_field"
      %br
    %p.actions= f.submit "Sign up", :class => "signup_btn"
  #signup_links= render :partial => "devise/shared/links"

