<ul id="comments_<%= @post.id %>" class="hidden">
  <% @comments.each do |c| %>
    <li class="comment" id="comment_<%= c.id %>">
      <div class="feed_entry_left">
      </div>
      <div class="comment_stats">
        <span class="commenter"><%= c.commenter %></span>
        <span class="comment_date">
          <%="said #{time_ago_in_words(c.created_at)} ago" %>
        </span>
      </div>
      <% if c.user_id == current_user.id || current_user.posts.include?(c.post.id) || current_user.role == "admin" %>
        <%= link_to "delete",
                        user_post_comment_path(current_user, c.post, c),
                        :remote => true,
                        :id => "delete_comment_#{c.id}",
                        :confirm => "Really delete this comment?",
                        :class => "delete_comment",
                        :method => :delete %>
      <% end %>
      <span class="comment_content"><%= c.content %></span>
    </li>
  <% end %>
</ul>

