<div id="users_container">
  <ul id="users_list">
    <% @users.each do |user| %>
      <li class="user_container">
        <span class="user_avatar">
          <%= link_to (image_tag user.profile.avatar.avatar.url,
                        :title => "aka #{user.urlname}"), 
                        user_feed_path(user) %>
        </span>
        <span class="user_identification">
          <p class="user_name">
            <%= link_to user.profile.name, user_feed_path(user),
                  :title => "Check out #{user.profile.name}'s ffflourishes." %>
          </p>
          <p class="user_title">
            <%= user.profile.handle %>
          </p>
          <span class="user_stats">
            <ul>
              <li>
                <%= "#{user.profile.posts_count} 
                ff#{make_this_plural(user.profile.posts_count, 'flourish')}" %>
              </li>
              <li><%= "#{user.profile.following_count} following" %></li>
              <li>
                <%= "#{user.profile.follower_count} 
                #{make_this_plural(user.profile.follower_count, 'follower')}" %>
              </li>
            </ul>
          </span>
        </span>
        <%= render 'shared/follow_link', :user => user %>
      </li>
    <% end %>
  </ul>
</div>
