<div id="users_list">
  <%= will_paginate @users %>
  <% @users.each do |user| %>
    <div id="member">
      <%= link_to user.name, user_posts_path(user) %>
      <div id="user_stats">
        <%= "member since: #{time_ago_in_words(user.created_at)} ago | " %>
        <%= "posts: #{user.posts.count} | " %>
        <%= "likes: #{user.likes.count} |" %>
        <%= "comments: #{user.comments.count}" %>
      </div>
    </div>
  <% end %>
  <%= will_paginate @users %>
</div>

