%h1= @user.full_name
= link_to "Edit Profile", edit_user_path(@user)
#basic_info
  %table
    %tr
      %th Name:
      %td= @user.profile.user_name
      %th Status:
      %td= @user.profile.status
      %br
      %tr
        %th About me:
        %td= @user.profile.about_me
      %tr
        %th Birthday:
        %td= @user.profile.birthday
      - @user.profile.locations.each do |loc|
        %tr
          %th Location:
          %td= loc.city
          %td= loc.state
          %td= loc.country
      - @user.profile.websites.each do |web|
        %tr
          %th Websites:
          %td= web.url
  %br

#user_stats
  %table.stats
    %tr
      %th Likes:
      %td things I like.
    %tr.link
      %td= link_to "Add Likes"
      %td= link_to "Update My Likes"
  %table.stats
    %tr
      %th Activities:
      %td how I spend my time.
    %tr.link
      %td= link_to "Add Activites"
      %td= link_to "Update My Activities"
  %table.stats
    %tr
      %th Nourishment:
      %td things I eat.
    %tr.link
      %td= link_to "Add Nourishment"
      %td= link_to "Update My Nourishment"
  %table.stats
    %tr
      %th Personal Interests:
      %td things i am involved with.
    %tr.link
      %td= link_to "Add Interests"
      %td= link_to "Update My Interests"
  %table.stats
    %tr
      %th Contact Info:
      %td how to get in touch with me.
    %tr.link
      %td= link_to "Add Contact Info"
      %td= link_to "Update My Contact Info"

