<div id="reset_password_container">
  <span id="reset_msg" class="landing_text_large">
    <p>Change your password.</p>
    <p>Please fill in the form below.</p>
  </span>
  <span id="reset_password">
    <%= form_for(resource,  :as => resource_name, 
                            :url => password_path(resource_name),
                            :validate => true, 
                            :html => { :method => :put }) do |f| %>
      <%= devise_error_messages! %>
      <span class="signin_fields">
        <%= f.label           :password, "new password", :class => "signin_label" %>
        <span class="error"></span>
        <%= f.password_field  :password, :class => "signin_field" %>
      </span>
      <span class="signin_fields">
        <%= f.label           :password_confirmation, 
                              "new password confirmation", 
                              :class => "signin_label" %>
        <span class="error"></span>
        <%= f.password_field  :password_confirmation, :class => "signin_field" %>
      </span>
      <span id="reset_submit" class="actions">
        <%= f.submit "Change my password!", :class => "signin_btn" %>
      </span>
    <% end %>
  </span>
  <span class="devise_links">
    here by mistake?
    <%= link_to "  sign in  ", signin_path%>
    or
    <%= link_to "  sign up", signup_path %>
  </span>
</div>

