<!--#################start photo feed entry##################-->
<div id="three_column_feed_entry_format">
  <div id="user_photo_small">
    <%= link_to (image_tag feed_item.user.profile.avatar.thumb.url, :id => "avatar_small"),
                                  user_posts_path(feed_item.user) %>
  </div>
  <div id="feed_entry_content">
    <div id="feed_entry_01_author">
      <%= link_to feed_item.user.name, user_posts_path(feed_item.user), :id => 'post_author' %>
    </div>
    <div id="feed_entry_02_reposted"></div>
    <% if feed_item.title? %>
      <div id="feed_entry_03_title">
        <%= feed_item.title %>
      </div>
    <% end %>
    <% if feed_item.content? %>
      <div id="feed_entry_04_text">
        <%= feed_item.content %>
      </div>
    <% end %>
    <% if feed_item.source_name? %>
      <div class="feed_entry_05_source">
        <div class="feed_entry_05">
  	  	  <div class="feed_entry_05_source_text">
  	  	    source:
  	  	  </div>
  	  	  <div class="feed_entry_05_source_text_link">
  	  	    <%= link_to feed_item.source_name, feed_item.source_url, :target => "blank" %>
  	  	  </div>
  	    </div>
  	  </div>
    <% end %>
  	<%= render 'shared/post_item_info', :f => feed_item %>
  	<% if feed_item.content.length > 120 %>
      <div id="expand_arrow_field">
        <div id = "expand_arrow">
          &#x25BC;
        </div>
      </div>
    <% end %>
  </div><!-- end 3 feed_entry_content -->
  <% if feed_item.image? %>
    <div id="photo_preview">
      <%= link_to (image_tag feed_item.image.medium.url),
          feed_item.image.url %>
    </div>
  <% end %>

  <div id="border"> </div>
<!-- #################end photo feed entry################ -->
</div><!-- end 3 column_feed_entry_format -->

