<span class="post_date">
  <%= "#{time_ago_in_words(f.created_at)} ago" %>
</span>
<div class="post_stat">
  <span class="activity_images">
    <% if f.voted?(current_user) == false && f.user != current_user %>
      <%= link_to (image_tag "like.png", :width => 20,
                                         :height => 20,
                                         :mouseover => "like_red.png"),
                like_user_post_path(f.user, f),
                :class => "like_post_link" %>
    <% elsif f.voted?(current_user) == true %>
      <%= image_tag "like_red.png", :width => 20, :height => 20 %>
    <% else %>
      <%= image_tag "like.png", :width => 20, :height => 20 %>
    <% end %>
  </span>
  <span class="activity_count">
    <%= f.votes %>
  </span>
</div>
<div class="post_stat" id="post_comments_stats_<%= f.id %>">
  <span class="activity_images">
    <% if f.comments_count > 0 %>
      <%= image_tag "comment_blue.png", :size => "20x20",
                                        :class => "comment_post_link" %>
    <% else %>
      <%= image_tag "comment.png", :size => "20x20",
                                   :class => "comment_post_link" %>
    <% end %>
  </span>
  <span class="activity_count">
    <%= link_to f.comments_count,
                user_post_comments_path(f.user, f),
                'data-id' => f.id.to_s,
                :remote => true,
                :id => "feeditem_comments_link_#{f.id}",
                :class => "comment_count" %>
  </span>
</div>

