<span class="post_date">
  <%= "#{time_ago_in_words(f.created_at)} ago" %>
</span>
<div class="post_stat">
  <span class="activity_images">
    <% if f.voted?(current_user) == false && f.user != current_user %>
      <%= link_to (image_tag "like.png", :width => 20,
                                         :height => 20,
                                         :mouseover => "like_red.png"),
                like_user_post_path(f.user, f),
                :class => "like_post_link" %>
    <% elsif f.voted?(current_user) == true %>
      <%= image_tag "like_red.png", :width => 20, :height => 20 %>
    <% else %>
      <%= image_tag "like.png", :width => 20, :height => 20 %>
    <% end %>
  </span>
  <span class="activity_count">
    <%= link_to f.votes,
                "#",
                :class => "like_count" %>
  </span>
</div>

<div class="post_stat">
  <span class="activity_images">
    <%= link_to (image_tag "comment.png", :width => 20, :height => 20),
                "#",
                :class => "comment_post_link" %>
  </span>
  <span class="activity_count">
    <%= link_to f.comments.count,
                "#",
                :class => "comment_count" %>
  </span>
</div>

