<!--feed item-->
<li class="feed_entry">
  <div class="feed_entry_left">
    <%= render "shared/feed_avatar_follow", :f => feed_item %>
  </div>
  <div class="feed_entry_center">
    <span class="feed_entry_content">
      <p class="feed_entry_author">
        <%= link_to feed_item.user.name, user_posts_path(feed_item.user), 
                                                        :class => 'post_author' %>
      </p>
      <p class="feed_entry_text">
        <%= feed_item.content %>
      </p>
    </span>
    <div class="feed_entry_info">
      <%= render 'shared/feed_item_info', :f => feed_item %>
     </div>
  </div>
  <div class="feed_entry_right">
    <% if feed_item.image? %>
      <%= link_to (image_tag feed_item.image.medium.url, :class => "photo_preview"),
                                                        feed_item.image.url %>
    <% end %>
  </div> 
</li>
<% if feed_item.voters? %>
  <li>
    <div id="liked_by">
      <% feed_item.voters.each do |liked| %>
        <%= liked %>
        
      <% end %>
    </div>
  </li>
<% end %>
<li class="feed_entry_comments">
  <%= render "shared/feed_comments", :p => feed_item %>
</li>
<div class="border"></div>


