<!--#################start photo feed entry##################-->
<div id="three_column_feed_entry_format">
<div id="user_photo_small">
  <%= link_to (image_tag feed_item.user.profile.avatar.thumb.url),
                                user_posts_path(feed_item.user) %>
</div>
<div id="feed_entry_content">
  <div id="feed_entry_01_author">
    <%= link_to feed_item.user.full_name, user_posts_path(feed_item.user) %>
  </div>
  <div id="feed_entry_02_reposted"></div>
  <div id="feed_entry_03_title">
     <%= feed_item.title %>
  </div>
  <div id="feed_entry_04_text">
     <%= feed_item.content %>
   </div>
  <div class="feed_entry_05_source">
  	<div class="feed_entry_05_source_text">
  	  source:
    </div>
  	<div class="feed_entry_05_source_text_link">
  	  g0lubka
  	</div>
  </div>
	<div id="date">
	  <%= "#{time_ago_in_words(feed_item.created_at)} ago" %>
	</div>
	<div class="activity_images">
	  <img src="images/like.png" width="14" height="15" />
	</div>
	<div class="activity_count">
	  10
	</div>
	<div class="activity_images">
	  <img src="images/comment.png" width="14" height="15" />
	</div>
  <div class="activity_count">
    20
  </div>
  <div class="activity_images">
    <img src="images/repost.png" width="14" height="15" />
  </div>
  <div class="activity_count">
    30
  </div>
  <div class="activity_images">
    <img src="images/tags.png" width="14" height="15" />
  </div>
  <div class="activity_count">
    40
  </div>
	<div id="expand_arrow_field">
	  <div id = "expand_arrow"> &#x25BC;</div>
	</div>
</div><!-- end 3 feed_entry_content -->
<% if feed_item.image? %>
  <div id="photo_preview">
    <%= link_to (image_tag feed_item.image.large.url),
        feed_item.image.url %>
    <% if feed_item.image_source_name? %>
      <div class="feed_entry_05">
	  	  <div class="feed_entry_05_source_text">
	  	    source:
	  	  </div>
	  	  <div class="feed_entry_05_source_text_link">
	  	    <%= link_to feed_items.image_source_name, feed_item.image_source_url %>
	  	  </div>
	    </div>
    <% end %>
  </div>
<% end %>


<div id="border"> </div>
<!-- #################end photo feed entry################ -->
</div><!-- end 3 column_feed_entry_format -->

