<!--#################start photo feed entry##################-->
<div id="three_column_feed_entry_format">
  <div id="user_photo_small">
    <%= link_to (image_tag feed_item.user.profile.avatar.avatar.url, :id => "avatar_small"),
                                  user_posts_path(feed_item.user) %>
  </div>
  <div id="feed_entry_content">
    <div id="feed_entry_01_author">
      <%= link_to feed_item.user.name, user_posts_path(feed_item.user), :id => 'post_author' %>
    </div>
    <% if feed_item.content? %>
      <div id="feed_entry_04_text">
        <%= feed_item.content %>
      </div>
    <% end %>
    <%= render 'shared/feed_item_info', :f => feed_item %>
  	<% if feed_item.content.length > 120 %>
      <div id="expand_arrow_field">
        <div id = "expand_arrow">
          &#x25BC;
        </div>
      </div>
    <% end %>
  </div><!-- end 3 feed_entry_content -->
  <% if feed_item.image? %>
    <div id="photo_preview">
      <%= link_to (image_tag feed_item.image.medium.url),
          feed_item.image.url %>
    </div>
  <% end %>

  <div id="border"> </div>
<!-- #################end photo feed entry################ -->
</div><!-- end 3 column_feed_entry_format -->

