<span class="post_date">
  <%= "#{time_ago_in_words(f.created_at)} ago" %>
</span>
<div class="post_stat">
  <span class="activity_images">
  <% if f.voted?(current_user) %>
    <%= image_tag "like_red.png", :size => "20x20",
                                  :id => "feeditem_likes_img_#{f.id}" %>
  <% elsif f.user == current_user && f.votes > 0 %>
    <%= link_to (image_tag "like_red.png", :size => "20x20",
                                       :mouseover => "like_red.png",
                                       :id => "feeditem_likes_img_#{f.id}"),
                like_user_post_path(f.user, f),
                :remote => true,
                :class => "like_post_link" %>
  <% else %>
    <%= link_to (image_tag "like.png", :size => "20x20",
                                       :mouseover => "like_red.png",
                                       :id => "feeditem_likes_img_#{f.id}"),
                like_user_post_path(f.user, f),
                :remote => true,
                :class => "like_post_link" %>
  <% end %>
    
  </span>
  <span class="activity_count">
    <%= link_to f.votes, likers_post_path(f),
                :remote => true,
                :id => "feeditem_likers_count_#{f.id}",
                :class => "likes_count" %>
  </span>
</div>
<div class="post_stat" id="post_comments_stats_<%= f.id %>">
  <span class="activity_images">
    <% if f.commenters(current_user) == true %>
      <%= link_to (image_tag "comment_blue.png", 
                                    :size => "20x20",
                                    :class => "comment_post_link",
                                    :id => "feeditem_comments_img_#{f.id}",
                                    :mouseover => "comment_blue.png",),
                user_post_comments_path(f.user, f),
                :remote => true,
                :id => "feeditem_comments_img_#{f.id}",
                :class => "comment_count" %>
    <% elsif f.comments.any? && f.user == current_user %>
      <%= link_to (image_tag "comment_blue.png", 
                                    :size => "20x20",
                                    :class => "comment_post_link",
                                    :id => "feeditem_comments_img_#{f.id}",
                                    :mouseover => "comment_blue.png",),
                user_post_comments_path(f.user, f),
                :remote => true,
                :id => "feeditem_comments_img_#{f.id}",
                :class => "comment_count" %>
    <% else %>
      <%= link_to (image_tag "comment.png", 
                                    :size => "20x20",
                                    :class => "comment_post_link",
                                    :id => "feeditem_comments_img_#{f.id}",
                                    :mouseover => "comment_blue.png",),
                user_post_comments_path(f.user, f),
                :remote => true,
                :id => "feeditem_comments_img_#{f.id}",
                :class => "comment_count" %>
    <% end %>
  </span>
  <span class="activity_count">
    <%= link_to f.comments_count,
                user_post_comments_path(f.user, f),
                'data-id' => f.id.to_s,
                :remote => true,
                :id => "feeditem_comments_count_#{f.id}",
                :class => "comment_count" %>
  </span>
</div>
<div class="post_stat">
  <% if f.user == current_user %>
    <span class="post_edit_links">
      <%= link_to "delete", user_post_path(f.user, f),
                          :remote => true,
                          :id => "delete_post_#{f.id}",
                          :confirm => "Really delete this post?",
                          :class => "delete_post",
                          :method => :delete %>
    </span>
  <% end %>
</div>

