<!--feed item-->
<li class="feed_entry">
  <div class="feed_entry_left">
    <%= render "shared/feed_avatar_follow", :f => feed_item %>
  </div>
  <div class="feed_entry_center">
    <span class="feed_entry_content">
      <p class="feed_entry_author">
        <%= link_to feed_item.user.name, user_path(feed_item.user),
                                        :class => 'post_author' %>
      </p>
      <p class="feed_entry_text">
        <%= feed_item.content %>
      </p>
    </span>
    <!--post information and stats-->
    <div class="feed_entry_info">
      <%= render 'shared/feed_item_info', :f => feed_item %>
     </div>
  </div>
  <div class="feed_entry_right">
    <% if feed_item.image? %>
      <%= link_to (image_tag feed_item.image.medium.url, :class => "photo_preview"),
                                        feed_item.image.large.url,
                                        :class => "feed_entry_image" %>
    <% end %>
  </div>
</li>
<li class="feed_entry_likers" id="feeditem_likers_<%= feed_item.id %>">
  <div id="likers_container_<%= feed_item.id %>"></div>
</li>
<li class="feed_entry_comments" id="feeditem_comments_<%= feed_item.id %>">
  <div class="comment_form" id="new_comment_form_<%= feed_item.id %>">
    <%= form_for [current_user, feed_item, Comment.new],
                                   :remote => true,
                                   :html => { :id => "comment_form_#{ feed_item.id }" } do |f| %>
      <p class="field">
        <%= f.text_area :content, :class => "comment_field",
                                  :id => "comment_content_#{ feed_item.id }",
                                  :rows => 5,
                                  :value => "Support this ffflourish!" %>
      </p>
      <p>
        <%= f.submit "comment", :class => [ "actions", "comment_submit" ],
                                :disable_with => "..." %>
      </p>
      <p class="errors"></p><!-- format this -->
    <% end %>
  </div>
  <div id="comments_container_<%= feed_item.id %>"></div>
</li>
<div class="border"></div>

