<div id="post_options_container">
<ul>
  <li class="post_type">
  	<div class="icon_background">
  	  <%= link_to (image_tag 'text.png', :size => '43x43'), "#text" %>
  		<ul class="post_type_dropdown">
  			<li>text</li>
  		</ul>
  	</div>
  </li>
  <li class="post_type">
  	<div class="icon_background">
  	  <%= link_to (image_tag 'photo.png', :size => '43x43'), "#photo" %>
  		<ul class="post_type_dropdown">
  			<li>photo</li>
  		</ul>
  	</div>
  </li>
  <li class="post_type">
  	<div class="icon_background">
  	  <%= link_to (image_tag 'video.png', :size => '43x43'), "#video" %>
  		<ul class="post_type_dropdown">
  			<li>video</li>
  		</ul>
  	</div>
  </li>
  <li class="post_type">
  	<div class="icon_background">
  	  <%= link_to (image_tag 'audio.png', :size => '43x43'), "#audio" %>
  		<ul class="post_type_dropdown">
  			<li>audio</li>
  		</ul>
  	</div>
  </li>
  <li class="post_type">
  	<div class="icon_background">
  	  <%= link_to (image_tag 'message.png', :size => '43x43'), "#note" %>
  		<ul class="post_type_dropdown">
  			<li>note</li>
  		</ul>
  	</div>
  </li>
</ul>
</div>
