<div id="question_background">
	<div id="question">
		<!--What are you doing right now that's healthy for you?-->
	</div>
	<%= form_for [@user, @post], :html => {:multipart => true} do |f| %>
	  <div id="question_field">
	    <%=f.text_area :content,  :class => 'ffflourish_box_editor',
	                              :rows => 3,
	     :placeholder => "What are you doing right now that's, healthy for you?",
	     :value => "What are you doing right now that's, healthy for you?" %>
	  </div>
	  <p class="errors"></p>
	  <div id="posting_options">
	    <div id="countdown">
	      <div id="countdown_title">Characters remaining:</div>
	      <div id="counter"></div>
	    </div>
	    <!-- POST TYPE DROP DOWN -->
	    <%= render 'shared/feed_form_icons' %>
	    <%= render 'shared/post_form', :f => f %>
	    <div id="post_buttons_bottom">
	      <%= f.submit "post!", :class => [ "actions", "submit_btn" ], :disable_with => "..." %>
	    </div><!-- /post_buttons_bottom -->
	  </div>
  <% end %>
</div>

