<div id="question_background">
	<div id="question">
		What are you doing right now that's healthy for you?
	</div>
	<%= form_for [@user, @post], :html => {:multipart => true} do |f| %>
	  <div id="question_field">
	    <%=f.text_area :content, :class => 'ffflourish_box_editor' %>
	  </div>
	  <!-- POST TYPE DROP DOWN -->
    <%= render 'shared/feed_form_icons' %>
    <div id="post_buttons_bottom">
      <%= f.submit "post" %>
	    <div id="post_privacy_control">
	      <div class="privacy_icon">
	    	  <%= link_to (image_tag 'midprivacy.png', :size => "25x25"), "#" %>
        </div><!-- /privacy_icon -->
      </div><!-- /post_privacy_control -->
    </div><!-- /post_buttons_bottom -->
    <%= render 'shared/post_form', :f => f %>
  <% end %>
</div>

