<ul id="post_options_container">
  <li class="post_type">
  	<div class="icon_background">
  	  <%= link_to (image_tag 'text.png', :width => 43, 
  	                                     :height => 43), "#" %>
  		<ul class="post_type_dropdown">
  			<li><a href="#">text</a></li>
  		</ul>
  	</div>
  </li>
  <li class="post_type">
  	<div class="icon_background">
  	  <%= link_to (image_tag 'photo.png', :width => 43, 
  	                                      :height => 43), "#" %>
  		<ul class="post_type_dropdown">
  			<li><a href="#">photo</a></li>
  		</ul>
  	</div>
  </li>
  <li class="post_type">
  	<div class="icon_background">
  	  <%= link_to (image_tag 'video.png', :width => 43, 
  	                                      :height => 43), "#" %>
  		<ul class="post_type_dropdown">
  			<li><a href="#">video</a></li>
  		</ul>
  	</div>
  </li>
  <li class="post_type">
  	<div class="icon_background">
  	  <%= link_to (image_tag 'audio.png', :width => 43, 
  	                                      :height => 43), "#" %>
  		<ul class="post_type_dropdown">
  			<li><a href="#">audio</a></li>
  		</ul>
  	</div>
  </li>
  <li class="post_type">
  	<div class="icon_background">
  	  <%= link_to (image_tag 'message.png', :width => 43, 
  	                                        :height => 43), "#" %>
  		<ul class="post_type_dropdown">
  			<li><a href="#">note</a></li>
  		</ul>
  	</div>
  </li>
</ul>
