<% @user ||= current_user %>
<div id="user_page_header">
  <span id="user_avatar">
  <%= link_to (image_tag @user.profile.avatar.profile_image.url), 
                edit_user_profile_path(@user), 
                :class => "profile_img" %>
  </span>
  <span id="user_information">
    <p id="username">
      <%= @user.profile.name %>
    </p>
    <p id="page_title">
      <% unless @page_title == nil %>
        <%= "+ #{@page_title}" %>
      <% end %>
    </p>
    <p id="user_handle">
      <% if @user == current_user %>
        <%= link_to @user.profile.handle, edit_user_profile_path(@user) %>
      <% else %>
        <%= @user.profile.handle if @user.profile.handle? %>
      <% end %>
    </p>
  </span>
  <div id="local_nav">
    <% if current_user == @user %>
      <!--<%= link_to 'edit', edit_user_profile_path(@user),
                              :class => "local_nav_link" %>-->
    <% else %>
      <!--Following-->
      <div id="following">
        <% if @user.followers.include?(current_user) %>
          <%= link_to "unfollow", unfollow_user_path(@user), :id => 'unfollow_me', :confirm => "are you sure you want to unfollow #{@user.profile.name}" %>
        <% else %>
          <%= link_to "follow", follow_user_path(@user), :id => 'follow_me' %>
        <% end %>
      </div>
      <!--<%= link_to 'posts', user_posts_path(@user),
                              :class => "local_nav_link" %>
      <%= link_to 'profile', user_profile_path(@user),
                              :class => "local_nav_link" %>-->
    <% end %>
  </div>
</div>

