<div id="user_page_header">
  <div id="username">
    <%= @user.username %>
  </div>
  <div id="user_handle">
    <%= @user.profile.handle if @user.profile.handle? %>
  </div>
  <div id="page_title">
    <% unless @page_title == nil %>
      <%= "+ #{@page_title}" %>
    <% end %>
  </div>
  <div id="local_nav">
    <% if current_user == @user %>
      <%= link_to 'edit', edit_user_profile_path(@user, @user.profile),
                              :class => "local_nav_link" %>
    <% else %>
      <!--Following-->
      <div id="following">
        <% if @user.followers.include?(current_user) %>
          <%= link_to "unfollow", unfollow_user_path(@user), :id => 'unfollow_me' %>
        <% else %>
          <%= link_to "follow", follow_user_path(@user), :id => 'follow_me' %>
        <% end %>
      </div>
      <%= link_to 'posts', user_posts_path(@user),
                              :class => "local_nav_link" %>
      <%= link_to 'profile', user_profile_path(@user, @user.profile),
                              :class => "local_nav_link" %>
    <% end %>
  </div>
</div>

