<div id="date">
  <%= "#{time_ago_in_words(f.created_at)} ago" %>
</div>
<div class="activity_images">
  <%= link_to (image_tag "like.png", :width => 14, :height => 15),
              like_user_post_path(f.user, f) %>
</div>
<div class="activity_count">
  <%= f.votes %>
</div>
<div class="activity_images">
  <%= link_to (image_tag "comment.png", :width => 14, :height => 15),
              user_post_path(f.user, f) %>
</div>
<div class="activity_count">
  <%= f.comments.count %>
</div>
<div class="activity_images">
  <%= link_to (image_tag "repost.png", :width => 14, :height => 15),
              "#" %>
</div>
<div class="activity_count">
  30
</div>
<div class="activity_images">
  <%= link_to (image_tag "tags.png", :width => 14, :height => 15),
              "#" %>
</div>
<div class="activity_count">
  <%= f.tags %>
</div>

