<% @user ||= current_user %>
<table id="stats_table" border="0">
	<tr>
		<td><div class="stat_title"> posts: </div></td>
		<td>
		  <div class="stat_value" id="user_post_count">
		    <%= @user.profile.posts_count %>
		  </div>
		</td>
	</tr>
	<tr>
		<td><div class="stat_title"> likes: </div></td>
		<td>
		  <div class="stat_value" id="user_like_count">
		    <%= @user.profile.likes_count %>
		  </div>
		</td>
	</tr>
	<tr>
		<td><div class="stat_title"> 
		  <%= link_to 'comments:', commented_on_path(@user),
		              :title => "#{@user.profile.name}'s newest comments." %> 
		</div></td>
		<td>
		  <div class="stat_value" id="user_comment_count">
		    <%= @user.profile.comments_count %>
		  </div>
		</td>
	</tr>
	<tr>
		<td>
		  <div class="stat_title">
		    <%= link_to 'following:', following_user_path(@user),
		              :title => "See who #{@user.profile.name} is following." %>
		  </div>
		</td>
		<td>
		  <div id="following_count" class="stat_value">
		    <%= @user.profile.following_count %>
		  </div>
		</td>
	</tr>
	<tr>
		<td>
		  <div class="stat_title">
		    <%= link_to 'followers:', followers_user_path(@user),
		              :title => "See who is following #{@user.profile.name}."  %>
		  </div>
		</td>
		<td>
		  <div id="followers_count" class="stat_value">
		    <%= @user.profile.follower_count %>
		  </div>
		</td>
	</tr>
</table>

