<div id="new_user_question">
  <%= form_for :post, :url => '/posts/create_before_account', :method => 'post' do |f| %>
    <%= f.text_area :content %>
    <%= f.submit "clicky" %>
  <% end %>
</div>
<div id="rand_ffflourish_container">
  <p id="ffflourish_question" class="landing_text_large">
    What are you doing right now that's healthy for you?
  </p>
  <% unless @random_post == nil %>
    <span id="random_public_ffflourish">
      <%= render 'random_posts/show' %>
    </span>
    <span id="show_me_more">
      <%= link_to "Show me more!", root_path, :remote => true %>
    </span>
  <% end %>
</div>


