<div id="new_user_question">
  <div id="question_wrapper">
    <p id="ffflourish_question" class="landing_text_large">
      What are you doing right now that's healthy for you?
    </p>
    <%= form_for :post, :url => '/posts/create_before_account', 
                        :method => 'post',
                        :html => { :id => "landing_post_form" } do |f| %>
      <%= f.text_field :content, :id => "landing_post" %>
      <%= f.submit "share!", :id => 'landing_post_submit', :class => 'actions' %>
    <% end %>
    <div id="landing_nav_links">
      <p class="landing_link_right">
        <%= link_to "Or, Sign In!", signin_path,  :class => "landing_links" %>
      </p>
      <p class="landing_link_left">
        <span id="show_rand_ffflourish" class="landing_links">
          Show me an example!
        </span>
      </p>
      <p class="landing_link_left">
        <%= link_to "Tell me more about ffflourish!", about_path, 
                                                  :class => "landing_links" %>
      </p>
    </div>
  </div>
</div>
<div id="rand_ffflourish_container">
  <% unless @random_post == nil %>
    <div id="random_public_ffflourish">
      <%= render 'random_posts/show' %>
    </div>
    <span id="show_me_more">
      <%= link_to "Show me another!", root_path, :remote => true,
                                              :class => "landing_links" %>
    </span>
  <% end %>
</div>


