- if ! user_signed_in?
  %h1 Welcome to ffflourish
  = link_to "Join ffflourish", new_user_registration_path

  %p Public feed examples should be displayed here
  %p Already a member?
  .session_links= link_to "Sign in", signin_path
- else
  = render 'shared/name_menu_bar'
  = render 'shared/feed_form'
  - if @user.sign_in_count <= 5
    %p= link_to "Set up your profile", edit_user_profile_path(@user, @profile)
  = render 'shared/feed'

