#signin
  #signin_form
    .page_title Sign in
    = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
      .signin_field
        = f.label :email
        %br
        = f.text_field :email, :class => "user_email"
      .signin_field
        = f.label :password
        %br
        = f.password_field :password, :class => "user_password"
      - if devise_mapping.rememberable?
        %br
        %p#remember_me
          = f.check_box :remember_me
          = f.label :remember_me
      .actions= f.submit "Sign in", :class => "signin_btn"
#signin_links= render :partial => "devise/shared/links"
