#blog_post
  - if f.image?
    #post_image
      = link_to (image_tag "#{f.image.post_image.url}", :id => "post_image_thumb"), user_post_path(@user, f)
  - if f.content?
    #post_body
      %span.content= f.content
  #post_stats
    = render 'shared/feed_item_info', :f => f
#post_management
  - if @user == current_user
    = link_to "edit", edit_user_post_path(@user, f), :id => 'edit', :class => 'post_links'
    = link_to "destroy", user_post_path(@user, f), :confirm => "Are you sure", :id => "destroy", :method => :delete, :class => 'post_links'

