<%= form_for [@user, @post], :html => {:multipart => true} do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div id="post_fields_container">
    <div class="post_image_fields">
      <div id="photo_post_preview">
        <%= image_tag(@post.image.large.url) if @post.image? %>
      </div>
      <div id="photo_post_upload">
        <%= f.file_field :image, :id => "image",
                  :value => "upload photo (5 MB max, .jpg, .gif, .png, .bmp)" %>
        <%= f.hidden_field  :image_cache %>
      </div>
    </div>
    <!-- post content -->
    <div class="post_text_fields">
  
    </div>
    
    <p>
      <%= f.submit "Update", :class => "actions" %>
    </p>
  </div>
<% end %>

