#post_form
  = form_for [@user, @post], :html => {:multipart => true} do |f|
    = render 'shared/error_messages', :object => f.object
    %p.field
      = f.label         :title
      = f.text_field    :title
    %p.field
      = f.label         :content
      = f.text_area     :content
    %p.field
      /= image_tag(@post.thumb_small.url) if @post.thumb_small?
      = f.label         :image
      = f.file_field    :image, :id => "Image"
      = f.hidden_field  :image_cache
    %p.actions
      = f.submit

