<li class="feed_entry" id="feed_entry_<%= @post.id %>">
  <div class="edit_question_background">
  	<%= form_for [@user, @post], :html => {:multipart => true} do |f| %>
  	  <div id="question_field">
  	    <%=f.text_area :content,  :class => 'edit_post_content',
  	                              :id => "edit_post_#{@post.id}",
  	                              :rows => 3 %>
  	    <span class="edit_post_img_preview">
  	      <% if @post.image? %>
  	        <%= image_tag  @post.image.medium.url, :class => "photo_preview"%>
  	      <% end %>
  	    </span>
  	  </div>
  	  <p class="errors"></p>
  	  <div class="edit_post_options">
        <div class="post_type">
        	<div class="icon_background">
        	  <%= image_tag 'photo.png', :size => '43x43', 
        	                             :id => "post_image_#{@post.id}" %>
        	</div>
        </div>
        <div class="edit_post_image_fields">
          <%= f.file_field :image, :id => "image" %>
          <%= f.hidden_field  :image_cache %>
          <!-- this does not work in productions -->
          <%= f.check_box :remove_image!, :class => "remove_img_input" %>
          <%= f.label "remove image", :class => "remove_img_label" %>
        </div>
  	  </div>
  	  <div class="edit_post_button">
  	    <%= f.submit "update!", :id => "edit_post_submit_#{@post}",
  	                            :class => [ "actions", "edit_post_btn" ],
  	                            :disable_with => "..." %>
  	  </div><!-- /post_buttons_bottom -->
    <% end %>
  </div>
</li>

