%h1= "#{@user.first_name}'s Posts"
/Status Question
//////////////////////////////////////////////////////////
#status_post
  %p.field
/Create a new post
//////////////////////////////////////////////////////////
-if user_signed_in? && @user == current_user
  = link_to "Create a new Post", new_user_post_path(@user, @post)
/Listing all the users posts
//////////////////////////////////////////////////////////
#user_blog
  - @user.posts.each do |post|
    %p.post_title= link_to post.title, user_post_path(@user, post)
    %p.post_text= post.content
    %table
      %tr
        %td= post.created_at.strftime("%d.%m.%Y %H:%M:%S")
        -if user_signed_in? && @user == current_user
          %td= link_to "edit post", edit_user_post_path(@user, post)
          %td= link_to "destroy post", user_post_path(@user, post), :confirm => "Are you sure", :method => :delete

