#post_image
  = link_to (image_tag "#{@post.image.post_image.url}"), user_post_path(@user, @post)
#post_title
  %p= @post.title
#post_content
  %p= @post.content
-if user_signed_in? && @user == current_user
  = link_to 'Edit', edit_user_post_path(@user, @post)
= link_to 'Back', user_posts_path
#like= link_to "likes(#{@post.vote_count})", like_user_post_path(@user, @post)
#comments
  - if @post.comments.size > 0
    %h2 Comments
    - @comments.each do |comment|
      %h3= comment.user.full_name
      %p= comment.content
%h2 New Comment
= form_for [@user, @post, Comment.new] do |f|
  %p= f.text_area :content, :rows => 5
  %p= f.submit

