#post_image
  /= link_to (image_tag "#{@post.image.post_image.url}"), user_post_path(@user, @post)
#post_title= @post.title
#post_content= @post.content
-if @user == current_user
  = link_to 'Edit', edit_user_post_path(@user, @post)
= link_to 'Back', user_posts_path
#like= link_to "#{ make_this_plural(@post.votes, "like") }(#{ @post.votes })",
                    like_user_post_path(@user, @post)
#comment_count= "#{ make_this_plural(@post.comments.count, "comment") }(#{ @post.comments.count })"
#comments
  - if @post.comments.size > 0
    %h2 Comments
    - @post.comments.each do |comment|
      #commenter= link_to "#{comment.user.full_name}", user_path(comment.user)
      #comment_content
        %p= comment.content
      %div.created= comment.created_at.strftime("%m.%d.%Y @ %H:%M:%S")
      #destroy_comment= link_to "destroy comment", 
                                user_post_comment_path(@user, comment), 
                                :confirm => "Are you sure", 
                                :id => "destroy", 
                                :method => :delete
%h2 New Comment
= form_for [@user, @post, Comment.new] do |f|
  %p= f.text_area :content, :id => 'content', :rows => 5
  %p= f.submit

