-if @user.avatar?
  #user_photo
    =link_to (image_tag "#{@user.avatar.profile_image}"), edit_user_path(@user)
-else
  - if user_signed_in? && current_user == @user
  = link_to "upload a profile image", edit_user_path(@user)
#user_name= @user.profile.user_name
#user_status
  .profile_title status: #{@user.profile.status}
#about_me
  = @user.profile.about_me
#profile_table
  %table
    %tr
      %td.profile_title birthday:
      %td= @user.profile.birthday
    - @user.profile.locations.each do |loc|
      %tr
        %td.profile_title location:
        %td= loc.city
        %td= loc.state
        %td= loc.country
    - @user.profile.websites.each do |web|
      %tr
        %td.profile_title websites:
        %td= web.url
  %br

