<div id="profile_avatar">
  <%= link_to (image_tag "#{@user.profile.avatar.profile_image.url}"), edit_user_profile_path(@user, @user.profile) %>
  <% if current_user == @user %>
    <div id="avatar_form">
      <%= form_for [@user, @user.profile], :html => {:multipart => true} do |f| %>
        <%= f.file_field :avatar, :id => "avatar" %>
        <%= f.hidden_field  :avatar_cache %>
        <%= f.submit "upload" %>
      <% end %>
    </div>
  <% end %>
</div>
<div id="general_info">
  <div id="about_me">
    <%= @user.profile.about_me %>
  </div>
  <div class="attribute">
    <div class="title">
      birthday:
    </div>
    <div class="value">
      <%= @user.profile.birthday ? @user.profile.birthday.strftime("%B %dth, %Y") : "when is your birthday?" %>
    </div>
  </div>
  <div class="attribute">
    <div class="title">
      location:
    </div>
    <div class="value">
      <% if @user.profile.locations.any? %>
        <% @user.profile.locations.each do |loc| %>
          <div id="loc">
            <%= "#{loc.city}, #{loc.state} #{loc.country}" %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="attribute">
    <div class="title">
      websites:
    </div>
    <div class="value">
      <% @user.profile.websites.each do |web| %>
        <%= link_to web.url, "http://#{web.url}", :target => :blank %>
      <% end %>
    </div>
  </div>
</div>

