<p class="field">
  <%= f.label       :name,  :class => 'profile_label' %>
  <%= f.text_field  :name,  :class => 'profile_field' %>
</p>
<p class="field">
  <%= f.label       :url,   :class => 'profile_label' %>
  <%= f.text_field  :url,   :class => 'profile_field' %>
</p>
<p class="field">
  <%= f.label       :info,  :class => 'profile_label' %>
  <%= f.text_area   :info,  :class => 'profile_field', :rows => 5 %>
</p>

