<div id="profile_avatar">
  <%= link_to (image_tag "#{@user.profile.avatar.profile_image.url}"), edit_user_profile_path(@user, @user.profile) %>
  <div id="avatar_form">
    <%= f.file_field    :avatar, :id => "avatar" %>
    <%= f.hidden_field  :avatar_cache %>
  </div>
</div>
<div id="user_info">
  <ul>
    <li><%= @user.email %></li>
    <li class="link"><%= link_to "Edit Account Settings", edit_user_registration_path(@user) %></li>
  </ul>
</div>
<div id="edit_profile_fields">
  <p class="field">
    <%= f.label       :handle, :class => "profile_label" %>
    <%= f.text_field  :handle, :class => "profile_field" %>
  </p>
  <p class="field">
    <%= f.label       "Bio",      :class => "profile_label"  %>
    <%= f.text_area   :about_me,  :class => "profile_field", :rows => 5 %>
  </p>
  <p class="field">
    <%= f.label       :birthday,  :class => "profile_label"  %>
    <%= f.date_select :birthday,  :class => "profile_field",
                                  :start_year => Time.now.year - 90, 
                                  :end_year => Time.now.year,
                                  :order => [:month, :day, :year] %>
  </p>
  <p class="field">
    <h3>Location</h3>
    <%= f.fields_for :locations do |loc| %>
      <%= render 'form_location', :f => loc %>
    <% end %>
  </p>
  <p class="field">
    <h3>Websites</h3>
    <%= f.fields_for :websites do |website| %>
      <%= render 'form_website', :f => website %>
    <% end %>
  </p>
</div>
