<div id="profile_avatar">
  <%= image_tag @user.profile.avatar.profile_image.url, :class => "avatar_img" %>
  <div id="photo_upload">
    <%= f.file_field    :avatar, :id => "file_upload" %>
    <%= f.hidden_field  :avatar_cache %>
  </div>
</div>
<div id="edit_profile_fields">
  <p class="field">
    <%= f.label       :name, :class => "profile_label" %>
    <%= f.text_field  :name, :class => "profile_field" %>
  </p>
  </br></br>
  <p class="field">
    <%= f.label       "Personal description", :class => "profile_label" %>
    <%= f.text_field  :handle, :class => "profile_field" %>
  </p>
  </br></br>
  <p class="field">
    <%= link_to "Edit your email address",
          edit_user_registration_path(@user),
          :class => "profile_label" %>
    <span class="profile_field"> <%= @user.email %> </span>
  </p>
  </br></br>
  <p class="field">
    <%= link_to "Edit your password",
          edit_user_registration_path(@user),
          :class => "profile_label" %>
    <span class="profile_field"> ************** </span>
  </p>
  </br></br>
</div>

