<p class="field">
  <%= f.label       :name %>
  <%= f.text_field  :name %>
</p>
<p class="field">
  <%= f.label       :url %>
  <%= f.text_field  :url %>
</p>
<p class="field">
  <%= f.label       :info %>
  <%= f.text_area   :info %>
</p>

