<div id="profile_avatar">
  <%= image_tag @user.profile.avatar.profile_image.url, :class => "avatar_img" %>
  <div id="photo_upload">
    <%= f.file_field    :avatar, :id => "file_upload" %>
    <%= f.hidden_field  :avatar_cache %>
  </div>
</div>
<div id="edit_profile_left">
  <span class="signin_fields">
    <%= f.label       :name, "name", :class => "signin_label" %>
    <%= f.text_field  :name, :class => "profile_field_left" %>
  </span>
  <span class="signin_fields">
    <%= f.label       :handle, "about me", :class => "signin_label" %>
    <%= f.text_field  :handle, :class => "profile_field_left" %>
  </span>
  <div id="countdown">
	  <div id="countdown_title">Characters remaining:</div>
	  <div id="counter"></div>
	</div>
</div>
<div id="edit_profile_right">
  <span class="signin_fields">
    <%= link_to "edit e-mail",
          edit_user_registration_path(@user),
          :class => ["signin_label", "text_darkgreen", "edit_profile_link"] %>
    <span class="profile_field_right"> <%= @user.email %> </span>
  </span>
  <span class="signin_fields">
    <%= link_to "edit password",
          edit_user_registration_path(@user),
          :class => ["signin_label", "text_darkgreen", "edit_profile_link"] %>
    <span class="profile_field_right"> ************** </span>
  </span>
</div>

