<p class="field">
  <h3>Personal Description</h3>
</p>
<p class="user_info">
  <ul>
    <li><%= @user.full_name %></li>
    <li><%= @user.email %></li>
    <li class="link"><%= link_to "Edit Account Settings", edit_user_registration_path(@user) %></li>
  </ul>
</p>
<p class="field">
  <%= f.label :avatar %>
  <%= f.file_field :avatar %>
  <%= f.hidden_field :avatar_cache %>
</p>
<p class="field">
  <%= f.label       :handle %>
  <%= f.text_field  :handle %>
</p>
<p class="field">
  <%= f.label       "Bio:" %>
  <%= f.text_area   :about_me %>
</p>
<p class="field">
  <h3>Birthday</h3>
  <%= f.date_select  :birthday, :start_year => Time.now.year - 90, 
                                :end_year => Time.now.year,
                                :order => [:month, :day, :year] %>
</p>
<p class="field">
  <h3>Location</h3>
  <%= f.fields_for :locations do |loc| %>
    <%= render 'form_location', :f => loc %>
  <% end %>
</p>
<p class="field">
  <h3>Websites</h3>
  <%= f.fields_for :websites do |website| %>
    <%= render 'form_website', :f => website %>
  <% end %>
</p>

