- if user_signed_in? && current_user == @user
  = link_to "Edit Profile", edit_user_profile_path(@user, @profile)
#top_profile_section
  = render 'basic_info'
#user_stats
  /= render 'likes'
  .link= link_to "Update My Likes", edit_user_profile_path(@user, @profile)
  %table.stats
    %tr
      %th Activities:
      %td how I spend my time.
    %tr.link
      %td= link_to "Add Activites"
      %td= link_to "Update My Activities"
  %table.stats
    %tr
      %th Nourishment:
      %td things I eat.
    %tr.link
      %td= link_to "Add Nourishment"
      %td= link_to "Update My Nourishment"
  %table.stats
    %tr
      %th Personal Interests:
      %td things i am involved with.
    %tr.link
      %td= link_to "Add Interests"
      %td= link_to "Update My Interests"
  %table.stats
    %tr
      %th Contact Info:
      %td how to get in touch with me.
    %tr.link
      %td= link_to "Add Contact Info"
      %td= link_to "Update My Contact Info"

