<ul id="footer_links">
  <li class="footer_link">&copy;<%= link_to " ffflourish 2011", "#" %></li>
  <li class="footer_dot">&bull;</li>
  <li class="footer_link"><%= link_to "about", about_path %></li>
  <li class="footer_dot">&bull;</li>
  <li class="footer_link"><%= link_to "terms", terms_path %></li>
  <li class="footer_dot">&bull;</li>
  <li class="footer_link"><%= link_to "who made this?", who_path %></li>
  <% if user_signed_in? %>
    <li class="footer_dot">&bull;</li>
    <li class="footer_link"><%= link_to "feedback", new_feedback_message_path %></li>
  <% else %>
    <li class="footer_dot">&bull;</li>
    <li class="footer_link"><%= mail_to 'info@ffflourish.com', 'Feedback', :class => "text_blue feed_links" %></li>
  <% end %>
</ul>

