%footer
  %nav.site_nav
    %table
      %tr
        %td.copyright &copy 2010 ffflourish.com 
        %td= link_to "About.", about_path
        %td= link_to "Contact.", contact_path
        %td= link_to "Terms.", terms_path
        %td= link_to "Take the Tour.", tour_path
        %td= link_to "Blog - putafonit", 'http://putafonit.com', :target => '_blank'
