<div id="bottom_table">
  <table border="0">
    <tr>
      <th class="footer_first">&copy ffflourish 2010</th>
      <th class="footer_last"><%= link_to "about.", about_path %></th>
      <th class="footer_last"><%= link_to "terms.", terms_path %></th>
      <th class="footer_last"><%= link_to "jobs.", '#' %></th>
      <th class="footer_last"><%= link_to "contact.", contact_path %></th>
      <th class="footer_last"><%= link_to "take the tour.", tour_path %></th>
      <th class="footer_last"><%= link_to "blog - putafonit", 'http://putafonit.com', :target => '_blank' %></th>
    </tr>
  </table>
</div>
