%footer
  %table.bottom_table
    %tr
      %td.nav_cell &copy 2010 ffflourish.com 
      %td.nav_cell= link_to "About.", about_path
      %td.nav_cell= link_to "Contact.", contact_path
      %td.nav_cell= link_to "Terms.", terms_path
      %td.nav_cell= link_to "Take the Tour.", tour_path
      %td.nav_cell= link_to "Blog - putafonit", 'http://putafonit.com', :target => '_blank'
