<ul id="footer_links">
  <li class="footer_link">&copy<%= link_to " ffflourish 2011", "#" %></li>
  <li class="footer_dot">&bull;</li>
  <li class="footer_link"><%= link_to "about", about_path %></li>
  <li class="footer_dot">&bull;</li>
  <li class="footer_link"><%= link_to "terms", terms_path %></li>
  <li class="footer_dot">&bull;</li>
  <li class="footer_link"><%= link_to "who made this?", who_path %></li>
  <li class="footer_dot">&bull;</li>
  <li class="footer_link"><%= link_to "feedback", contact_path %></li>
</ul>

