<ul id="nav">
<!--FEED-->
	<li id="me_feed_link">
		<div class="menu_item">
			<%= link_to 'me', user_feed_path(current_user) %>
		</div>
	</li>

<!--PROFILE-->
	<li id="following_link">
		<div class="menu_item">
			<%= link_to 'following', user_following_path(current_user) %>
		</div>
	</li>
	
<!--FFFLOURISHERS-->
	<li id="ffflourishers_link">
		<div class="menu_item">
			<%= link_to 'ffflourishers', users_path %>
		</div>
	</li>

<!--SEARCH-->
<!--SEARCH FIELD-->
	<li id="search_field">
    <div id="search_form">
      <%= form_tag @search_path, :method => 'get' do %>
        <%= text_field_tag :search, params[:search], :type => 'search', :results => 5%>
      <% end %>
    </div>
	</li>

<!--ACCOUNT-->
	<li id="account">
		<div class="menu_item">
			<div class="menu_title">
				<div id="account_icon">
				  <%= image_tag 'account_icon.png', :size => '22x22', 
				                                    :alt => 'account settings' %>
				</div>
			</div>
			<div class="menu_arrow">&#x25BC;</div>
		</div>
		<ul id="dropdown_account">
			<li><%= link_to 'account', edit_user_profile_path(current_user) %></li>
			<li class="last"><%= link_to 'signout', signout_path, :method => :delete %></li>
		</ul>
	</li>
</ul>

