	<!-- RIGHT COLUMN -->
<% @user ||= current_user %>
<div id="ffflourish_stats">
  <span id="stats_tab">
    <p id="stats_tab_title">
      <span class="stats_text stats_text_blue">ffflourish</span>
      <span class="stats_text">stats</span>
			<span id="stats_arrow"> &#x25BC; </span>
    </p>
  </span>
  <div id="stats_container">
	  <%= render 'shared/stats' %>
	</div>
</div><!-- close 'ffflourish stats' div -->
<div id="ffflourish_feed_links">
  <p>
    <%= link_to 'See a random ffflourish', random_path,
                                        :remote => true,
                                        :class => "text_darkgreen feed_links",
                                        :id => "random_ffflourish_link" %>
  </p>
  <div style="display:none"></div>
  <p><%= link_to 'See recent ffflourishes', recent_path, :class => "text_lightgreen feed_links" %></p>
  <p><%= link_to 'See popular ffflourishes', popular_path, :class => "text_green feed_links" %></p>
  <p><%= mail_to 'info@ffflourish.com', 'Feedback', :class => "text_blue feed_links" %></p>
</div>
